.incentive-details-card {
	margin-top: 2%;
	margin-bottom: 3%;
	width: 100%;
}

.employee-leads-card {
	margin-top: 2%;
	width: 100%;
}

.employee-leads,
.incentive-details {
	display: flex;
	justify-content: center;
}

.incentive-details-cardfooter {
	font-family: "AvenirMedium" !important;
}

.incentive-details-cardfooter .imp {
	font-weight: bold;
	font-size: 25px !important;
}

.total-amount {
	gap: 5%;
}

h2 {
	font-family: "AvenirMediumOblique";
	color: #838383;
}
