.employee {
	display: flex;
	justify-content: space-around;
	padding-bottom: 2rem;
}

.combinecard-table {
	width: 45%;
}

.combinecard-line-chart {
	width: 45%;
}

@media (max-width: 1150px) {
	.employee {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.combinecard-table {
		width: 95%;
	}

	.combinecard-line-chart {
		width: 95%;
	}
}

.selection {
	display: flex;
	flex-direction: column;
	padding-right: 3%;
	padding-bottom: 2%;
	align-items: end;
}

.input-group {
	width: 200px;
}

.input-group-text {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
